 @font-face {
    font-family: 'Odibee Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Odibee Sans Regular'), local('OdibeeSans-Regular'), url(./files/neIPzCSooYAho6WvjeToRbk1cJA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  :root {
      --bgColor: rgb(38, 38, 37);
      --schemecolor: red;
      --font1: rgb(80, 80, 80);
      --font2: rgb(187, 187, 187);
      --hueRotation: 0deg;
      --hueSaturation: 100%;
      --hueBrightness: 100%;
      --hueContrast: 100%;
  }
  body {
      background: var(--bgColor);
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: "Odibee Sans";
  }
  #audio_canvas {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
  }
  #frente1 {
      position: absolute;
      z-index: 3;
      width: auto;
      right: -70px;
      top: 25px;
      height: 100%;
      filter: hue-rotate(var(--hueRotation)) saturate(var(--hueSaturation)) brightness(var(--hueBrightness)) contrast(var(--hueContrast));
  }
  #frente2 {
    position: absolute;
    z-index: 4;
    width: auto;
    right: 0;
    height: 100%;
  }
  #inclinada {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
   }

  /*
        -------------------
        Lateral Information
        -------------------
  */
  #informacionLateral {
      position: absolute;
      z-index: 6;
      margin-left: 20px;
      margin-top: 50px;
  }
  #monthYear {
      display: block;
      margin-left: 5px;
      font-size: 44px;
      color: var(--schemeColor);
  }
  
  #calendario {
      z-index: 4;
      text-align: center;
      font-size: 24px;
      color: var(--font2);
      letter-spacing: 2px;
  }
  #calendario tr:first-child {
      font-weight: bold;
      font-size: 24px;
      color: var(--schemeColor);
      background-color: transparent;
  }
  #calendario tr td {
      padding: 5px;
  }
  #calendario .pasado {
      color: var(--font1);
  }
  #calendario .dia {
      color: var(--schemeColor);
      font-weight: bold;
      text-decoration: underline;
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
  }
  #calendario.espaciado {
      margin-top: 99px;
  }
  #hora {
      display: block;
      font-size: 44px;
      color: var(--schemeColor);
  }
  #climaTitulo {
      display: block;
      margin-top: 35px;
      font-size: 28px;
      color: var(--schemeColor);
  }
  #climaTitulo span {
      margin-left: 6px;
      color: var(--font2);
  }
  #climaTitulo span i{
      margin-right: 5px;
  }
  #climaAhora {
      display: block;
      margin-top: 3px;
      margin-left: 10px;
      font-size: 24px;
      letter-spacing: 2px;
      color: var(--font2);
  }
  #clima {
      display: block;
      margin-top: 15px;
      margin-left: 10px;
      font-size: 24px;
      letter-spacing: 2px;
      color: var(--font1);
  }
  #clima tr td:first-child {
      padding-right: 26px;
  }
  #clima tr td:last-child {
      letter-spacing: 0px;
  }
  #cronogramaTitulo {
      display: block;
      padding-top: 35px;
      font-size: 28px;
      color: var(--schemeColor);
      letter-spacing: 1px;
  }
  #cronograma {
      margin-left: 10px;
      font-size: 24px;
      letter-spacing: 2px;
      color: var(--font1);
  }

  .current td:first-child {
      color: var(--schemeColor);
      text-decoration: underline;
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
  }
  .current td:last-child {
      color: var(--font2);
  }
  #notas {
      display: block;
      margin-left: 10px;
      margin-top: 30px;
      font-size: 24px;
      color: var(--font1);
      letter-spacing: 2px;
  }
  #notas a {
      display: block;
      padding: 3px 0px;
  }
  #notas u {
      color: var(--schemeColor);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 5px;
  }
  #spotify_canvas {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
  }
  .alertas {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color:rgb(0, 0, 0, 0.9);
      position: absolute;
      z-index: 999;
  }
  .contenedorAlerta {
      display: inline-block;
      border: 1px solid var(--schemecolor);
      background-color: #2f2f2f;
      color: var(--font2);
      padding: 20px 20px;
      height: min-content;
      font-size: 26px;
  }
  .cerrarAlerta {
      float: right;
      transform:scaleY(0.7);
      font-size: 38px;
      margin-top: -10px;
      transition: color 0.2s ease-in-out;
  }
  .cerrarAlerta:hover {
      color: var(--schemeColor);
  }
  .contenedorAlerta a {
      display: block;
  }
  .fechaAlerta {
      margin-bottom: 30px;
      color: var(--schemeColor);
  }
  .contenedorAlerta dt {
      color: var(--schemeColor);
  }
  .contenedorAlerta .chico {
      font-size: 21px;
  }